#nBack_square {
    width: 30%;
}

.nBack_cell {
    text-align:center;
    line-height: 100px;
    vertical-align: middle;
    font-size: 50px;
    width: 30%;
    aspect-ratio: 1 / 1;
    border: solid;
    float: left;
}

#guess_options {
    width: 30%;
    position: relative;
}

.guess_button {
    width: 30%;
    float: left;
}
